/* @import './base.css'; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

html, body {
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
body {
  /* position: relative; */
  min-height: calc(var(--vh, 1vh) * 100);
  color: var(--color-text);
  background: url('/images/israel.webp') no-repeat center center;
  background-size: cover;
  /* transition:
    color 0.5s
    background-color 0.5s; */
  line-height: 1.6;
  font-family:
    'Inter',
    '-apple-system',
    'BlinkMacSystemFont',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
}
/* @media (max-width: 768px) {
  body {
    background: url('/images/israel.webp') no-repeat center center;
    background-size: cover;
    background-attachment: scroll;
    position: absolute;
     z-index: -1;
     transform: translateZ(0);
  }
} */
/* body::before {
content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/israel.webp') no-repeat center center;
  background-size: cover;
  z-index: -1;
  transform: translateZ(0);
  will-change: transform;
} */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {

  #app {
    width: 100%;
    display: grid;
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 50px 0;
}
